.Company {
    width: 100%;
}
.Thumb {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 1rem;
    cursor: pointer;
}
.EditarBt {
    width: 100%;
    margin: 1rem 0;
}
.EditarBt button {
    width: 100%;
    font-weight: bold;
}
.Description {
    width: 100%;
    text-align: justify;
}
.Description p {
    font-size: 15px;
}
.Title {
    font-size: 20px!important;
    font-weight: bold;
}
.InfoTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    padding: .5rem;
    border-radius: 1rem;
}
.Row {
    display: flex;
    width: 100%;
    border-bottom: solid 1px gray;
    min-height: 3rem;
    padding: .3rem;
}
.Row div {
    font-size: 18px;
}
.RowTitle {
    height: auto;
    margin: auto 0;
    font-weight: bold;
    width: 20%;
}
.RowDescription {
    height: auto;
    max-height: 100%;
    margin: auto 0;
    width: 80%;
}
.RowDescription button {
    max-width: 100%;
}

@media(max-width:767px) {
    .Thumb {
        height: 300px;
    }
    .Row {
        min-height: 2rem;
    }
    .Row div {
        font-size: 15px;
    }
    .RowTitle {
        width: 40%;
    }
    .RowDescription {
        width: 60%;
        word-wrap: break-word;
    }
}