.DriveBar {
    min-height: 4.5rem;
    height: auto;
    width: 100%;
    border: solid 1px rgb(207, 207, 207);
    border-radius: .5rem;
    box-shadow: 0px 5px 5px rgb(99, 99, 99);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.Title {
    width: auto;
    height: auto;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}
.Filter {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.05);
    border-radius: 1rem;
    margin: 1rem 0;
}
.Filter button {
    margin: 0 .5rem;
}
.ShowFilter {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 1px gray;
    border-radius: .5rem;
}
.FilterList {
    display: flex;
    flex-wrap: wrap;
    min-height: 5rem;
}
.FilterListBt {
    min-width: 10%;
    height: 2rem;
    text-align: center;
    padding: 3px 6px;
    margin: 3px;
    font-weight: 420;
    box-shadow: 0px 3px 2px rgb(99, 99, 99);
}
.FilterListBt:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 2px rgb(99, 99, 99);
}
.SelectedFilter {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.SelectedFilter span {
    margin: auto;
    margin-right: 0;
}
.SelectedFilter button span {
    font-weight: bold;
    margin-right: 1rem;
}
.List {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 5rem;
    margin: 1rem 0;
    padding: .5rem;
}
.VerMaisBt {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
}
.Map {
    padding: 1rem;
    width: 100%;
    height: auto;
}
.ProjectCard {
    min-width: 10%;
    height: 3rem;
    text-align: center;
    padding: .5rem 1rem;
    margin: 3px;
    font-weight: 420;
    font-size: 20px;
    box-shadow: 0px 3px 2px rgb(99, 99, 99);
}
.ProjectCard:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 2px rgb(99, 99, 99);
}
.CompanyImg {
    width: 100%;
    height: 300px;
    margin: .5rem 0;
    cursor: pointer;
}
.CompanyImg img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .Filter button {
        width: 45%;
        margin: .5rem
    }
    .FilterList {
        min-height: 2rem;
    }
    .SelectedFilter {
        flex-direction: column;
    }
    .SelectedFilter span {
        margin-right: auto;
        margin-top: .5rem;
    }
    .CompanyImg {
        height: 250px;
    }
    .CompanyImg img {
        height: 100%;
    }
}