.Thumb {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    cursor: pointer;
}
.Body {
    width: 100%;
    border: solid 1px rgb(207, 207, 207);
    border-radius: .5rem;
    box-shadow: 0px 5px 5px rgb(99, 99, 99);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}
.EditarBt {
    width: 100%;
    margin: 1rem 0;
}
.EditarBt button {
    width: 100%;
    font-weight: bold;
}
.Description {
    width: 100%;
    text-align: justify;
}
.Description p {
    font-size: 15px;
}
.Title {
    font-size: 20px!important;
    font-weight: bold;
}
.InfoTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px gray;
    padding: .5rem;
    border-radius: 1rem;
}
.Row {
    display: flex;
    width: 100%;
    border-bottom: solid 1px gray;
    min-height: 3rem;
    padding: .3rem;
}
.Row div {
    font-size: 18px;
}
.RowTitle {
    height: auto;
    margin: auto 0;
    font-weight: bold;
    width: 20%;
}
.RowDescription {
    height: auto;
    max-height: 100%;
    margin: auto 0;
    width: 80%;
}
.RowDescription button {
    max-width: 100%;
}
.Images {
    margin: 2rem 0;
    width: 100%;
    height: 650px;
}
.Video {
    margin-top: 2rem;
    width: 100%;
    height: 670px;
}
.Properties {
    display: flex;
}
.EmpreendimentosBar {
    height: auto;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.SelectPremiumBtBar {
    font-weight: bold;
}
@media(max-width: 767px) {
    .Thumb {
        height: 350px;
    }
    .Properties {
        flex-direction: column;
    }
    .Row {
        min-height: 2rem;
    }
    .Row div {
        font-size: 15px;
    }
    .RowTitle {
        width: 40%;
    }
    .RowDescription {
        width: 60%;
        word-wrap: break-word;
    }
    .Images {
        height: 350px;
    }
    .Video {
        height: 300px;
    }
    .EmpreendimentosBar {
        flex-direction: column;
    }
    .SelectPremiumBtBar {
        margin: .5rem 0 0 0;
    }
}