.Initial2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.Initial2 .Text {
    width: 50%;
    height: auto;
    margin: auto;
}
.Initial2 .Text .Title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 96);
}
.Initial2 .Content {
    font-size: 18px;
}
.Initial2 .Text .ContentTitle {
    font-size: 25px;
    color: rgb(255, 255, 96);
    font-weight: bold;
    margin: 1rem 0;
}
.Initial2 .Image {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.Initial2 .Image img {
    width: 80%;
    height: auto;
    margin: auto;
}

@media (max-width: 1300px) {
    .Initial2 {
        display: flex;
        flex-direction: row;
    }
    .Initial2 .Text {
        margin: 5vh 0;
        width: 50%;
    }
    .Initial2 .Text .Title {
        font-size: 35px;
    }
    .Initial2 .Text .Content {
        font-size: 20px;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    .Initial2 .Text .Title {
        font-size: 25px;
    }
    .Initial2 .Text .Content {
        font-size: 15px;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 20px;
    }
}
@media (max-height: 915px) and (max-width: 767px)  {
    .Initial2 .Text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Initial2 .Text .Title {
        font-size: 30px;
        text-align: center;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 20px;
    }
    .Initial2 .Text .Content {
        font-size: 14px;
    }
    .Initial2 .Text .Image {
        margin: 0 auto;
        width: 80%;
    }
}
@media (max-height: 850px) and (max-width: 767px) {
    .Initial2 .Text .Title {
        font-size: 28px;
        text-align: center;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 20px;
    }
    .Initial2 .Text .Content {
        font-size: 13px;
    }
    .Initial2 .Text .Image {
        width: 80%;
    }
}
@media (max-height: 740px) and (max-width: 767px) {
    .Initial2 .Text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Initial2 .Text .Title {
        font-size: 18px;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 16px;
    }
    .Initial2 .Text .Content {
        font-size: 12px;
    }
    .Initial2 .Image {
        margin: 0 auto;
        width: 85%;
    }
}
@media (max-height: 680px) and (max-width: 767px) {
    .Initial2 .Text .Title {
        font-size: 18px;
        text-align: center;
    }
    .Initial2 .Text .ContentTitle {
        font-size: 16px;
        
    }
    .Initial2 .Text .Content {
        font-size: 10px;
    }
    .Initial2 .Image {
        margin: 0 auto;
        width: 85%;
    }
}






