.Initial {
    width: 50%;
    height: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Initial .Text {
    width: 100%;
    height: auto;
}
.Initial .Text .Title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 96);
}
.Initial .Text .Content {
    text-align: justify;
    font-size: 20px;
}
.Initial .Text .ContentTitle {
    font-size: 25px;
    color: rgb(255, 255, 96);
    font-weight: bold;
    margin: 1rem 0;
}
.Button {
    width: 100%;
    height: auto;
}
.Button button {
    width: 100%;
    border: none;
    height: 3rem;
    border-radius: 1rem;
    background: linear-gradient(rgb(19, 19, 19), rgb(0, 0, 0));
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 1rem 0;
    box-shadow: 0px 5px 5px rgba(209, 209, 209, 0.2);
    cursor: pointer;
}
.Button button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 5px rgba(20, 20, 20, 0.2);
}


@media (max-width: 1300px) {
    .Initial {
        width: 100%;
        justify-content: start;
    }
    .Initial .Text {
        width: 100%;
        margin-top: 72vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Initial .Text .Title {
        text-align: center;
    }
}
@media (max-width: 915px) {
    .Initial {
        width: 100%;
        justify-content: start;
    }
    .Initial .Text {
        width: 100%;
        margin-top: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Initial .Text .Title {
        text-align: center;
    }
}
@media(max-width: 500px) {
    .Initial {
        width: 100%;
        justify-content: start;
    }
    .Initial .Text {
        margin-top: 70vh;
    }
    .Initial .Text .Title {
        font-size: 25px;
        text-align: center;
    }
    .Initial .Text .Content {
        margin: 0 auto;
        margin-top: 15vh;
        width: 90%;
        font-size: 15px;
    }
}