.Button {
    width: 100%;
    height: auto;
    margin-top: 10vh;
}
.MarginZero {
    margin-top: 1vh!important;
}
.Button button {
    width: 100%;
    border: none;
    height: 3rem;
    border-radius: 1rem;
    background: linear-gradient(rgb(19, 19, 19), rgb(0, 0, 0));
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    box-shadow: 0px 5px 5px rgba(209, 209, 209, 0.2);
    cursor: pointer;
}
.Button button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 5px rgba(20, 20, 20, 0.2);
}