.ThumbG {
    margin: 1rem auto;
    width: 100%;
    height: 300px;
    position: relative;
}
.ThumbG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ThumbM {
    margin: 1rem auto;
    width: 750px;
    height: 300px;
    position: relative;
}
.ThumbM img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ThumbP {
    margin: 1rem auto;
    width: 350px;
    height: 250px;
    position: relative;
}
.ThumbP img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ChangeBt {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.712);
    top: 80%;
    height: 3.5rem;
    display: flex;
}
.ChangeBt:hover {
    background-color: rgba(0, 0, 0, 0.836);
}
.ChangeBt p {
    width: auto;
    height: auto;
    margin: auto;
    color: white;
    font-size: 25px;
}
.ChangeBt input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
